@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,latin-ext);
/* -----------------------------------------
   Variables
----------------------------------------- */
/* -----------------------------------------
   Fonts
----------------------------------------- */
/* -----------------------------------------
   Colors
----------------------------------------- */
/* -----------------------------------------
   Typography
----------------------------------------- */
/* -----------------------------------------
   Spaces
----------------------------------------- */
/* -----------------------------------------
   Classes
----------------------------------------- */
.font-size-large {
  font-size: 17px;
}
.font-size-extra-large {
  font-size: 24px;
}
.color-gray-dark {
  color: #8e8e8e;
}
.bold {
  font-weight: bold;
}
.relative {
  position: relative;
}
.no-overflow {
  overflow: hidden;
}
.inline-block {
  display: inline-block;
}
.clear {
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-space {
  padding: 0;
  margin: 0;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
.space-on-top {
  padding-top: 15px;
}
.space-on-bottom {
  padding-bottom: 15px;
}
.space-on-left {
  padding-left: 15px;
}
.space-on-right {
  padding-right: 15px;
}
.space-on-sides {
  padding-left: 15px;
  padding-right: 15px;
}
.no-space-on-top {
  padding-top: 0;
}
.no-space-on-bottom {
  padding-bottom: 0;
}
.no-space-on-left {
  padding-left: 0;
}
.no-space-on-right {
  padding-right: 0;
}
.margin-on-top {
  margin-top: 15px;
}
.double-margin-on-top {
  margin-top: 30px;
}
.margin-on-bottom {
  margin-bottom: 15px;
}
.double-margin-on-bottom {
  margin-bottom: 30px;
}
.margin-on-left {
  margin-left: 15px;
}
.margin-on-right {
  margin-right: 15px;
}
/* -----------------------------------------
   Mixins
----------------------------------------- */
/* GRADIENTS */
/* -----------------------------------------
   MAIN STYLES
----------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  padding-bottom: 60px;
}
html,
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 140%;
  background-color: #dcdbd8;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}
h1.normal,
h2.normal,
h3.normal,
h4.normal,
h5.normal,
h6.normal {
  font-weight: normal;
}
h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h1 {
  font-size: 30px;
}
.list h1 {
  color: #444444;
  font-size: 20px;
  margin-top: 15px;
}
.list h1 span {
  font-weight: normal;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 20px;
}
a {
  color: #1582d8;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: #1374c1;
  text-decoration: underline;
}
a:visited,
a:focus {
  color: #4ca6ee;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  overflow: hidden;
  padding-left: 30px;
}
ul.reset,
ol.reset,
ul.reset li,
ol.reset li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  position: relative;
}
.block-xs {
  display: block;
}
/* -----------------------------------------
   Buttons
----------------------------------------- */
.btn {
  font-size: 14px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-primary {
  color: #ffffff;
  background-color: #0061a1;
  border: 1px solid #005288;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0070bb !important;
  border: 1px solid #005288;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary:visited {
  background: #0061a1;
  border: 1px solid #004878 !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  -khtml-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
}
.btn-primary:visited {
  color: #ffffff;
}
.btn-primary svg.icon {
  fill: #ffffff;
}
.btn-secondary {
  color: #a9a9a9;
  background-color: #f1f1f1;
  border: 1px solid #e4e4e4;
}
.btn-secondary:hover {
  color: #a9a9a9;
  background-color: #f9f9f9 !important;
  border: 1px solid #e4e4e4;
}
.btn-secondary:focus,
.btn-secondary:visited {
  color: #a9a9a9;
  background: #f1f1f1;
  border: 1px solid #dddddd !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  -khtml-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
}
/* -----------------------------------------
	Carousel
----------------------------------------- */
.carousel {
  padding-bottom: 30px;
}
.carousel .carousel-indicators {
  bottom: -15px;
}
.carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-color: #dcdbd8;
  border-width: 2px;
}
.carousel .carousel-indicators li.active {
  background-color: #dcdbd8;
}
.carousel .carousel-indicators.black-indicators li {
  border-color: #2a2e34;
}
.carousel .carousel-indicators.black-indicators li.active {
  background-color: #2a2e34;
}
.carousel-company-presentation .item {
  padding: 10px;
  background-color: #ffffff;
}
.carousel-company-presentation .item .company-image {
  margin: 10px -10px;
}
.carousel.logo-images .item .row:first-child {
  margin-bottom: 30px;
}
.sidebar-right .carousel .carousel-indicators {
  bottom: -5px;
}
/* -----------------------------------------
   Icons
----------------------------------------- */
.icon {
  width: 16px;
  height: auto;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.detail-icon {
  width: 65px;
  height: 65px;
}
.detail-icon svg {
  width: 45px !important;
  height: 45px !important;
  margin: 10px 0 0 10px;
}
.detail-icon svg,
.detail-icon svg * {
  fill: #ffffff !important;
}
.detail-icon.green {
  background-color: #00a15b;
}
.detail-icon.yellow {
  background-color: #e7c216;
}
.detail-icon.orange {
  background-color: #e77d16;
}
.detail-icon.blue {
  background-color: #0061a1;
}
/* -----------------------------------------
   Lists
----------------------------------------- */
.list-title {
  font-size: 17px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}
.list-arrow {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-arrow li {
  padding-left: 15px;
  background: url("../images/design/li.png") no-repeat 0 3px;
}
.list-line-spaces li {
  padding-bottom: 10px !important;
}
/* -----------------------------------------
   Header - navbar
----------------------------------------- */
.navbar {
  height: auto;
  margin: 0;
  background-color: #0061a1;
  overflow: hidden;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.navbar-collapse {
  padding: 0 0 10px;
}
.navbar a {
  color: #ffffff;
  padding: 10px 20px  !important;
}
.navbar a:hover {
  text-decoration: underline !important;
  background: none !important;
}
.navbar-brand {
  height: auto;
  padding: 10px 15px;
  margin-left: -15px;
}
.navbar-brand img {
  width: auto;
  height: 30px;
}
.navbar-nav {
  margin: 8px auto 0;
  float: none;
}
.navbar-nav li {
  float: none;
  border-bottom: 1px solid #2b96ea;
}
.navbar-nav li.no-border {
  border: none;
}
.navbar-right {
  margin: 12px 0 0;
}
.navbar-right a {
  font-size: 14px;
}
.navbar-right .btn {
  color: #1582d8;
  padding: 5px 15px !important;
  background-color: #ffffff;
  box-shadow: none;
}
.navbar-right .btn:hover {
  background-color: #ededed !important;
}
.navbar-toggle {
  margin: 8px 0 0;
  background-color: #ffffff;
}
.navbar-toggle .icon-bar {
  background-color: #a9a9a9;
}
.navbar-search {
  padding: 6px 10px 5px;
  margin-left: 10px;
}
.navbar-search .icon {
  margin: 0 2px;
}
.navbar-search .icon,
.navbar-search .icon * {
  fill: #a9a9a9;
}
/* -----------------------------------------
   Sidebar - navbar
----------------------------------------- */
.navbar-left {
  padding: 0;
  margin: 0;
  list-style: none;
  float: none !important;
}
.navbar-left > li {
  padding: 0 15px 0 0;
  margin: 0 15px !important;
  background: url("../images/design/li_gray.png") no-repeat 100% 13px;
  border-top: 1px solid #dcdbd8;
}
.navbar-left > li a {
  color: #676461;
  padding: 10px 0;
  display: block;
}
.navbar-left > li.active {
  padding-right: 15px;
  margin: 0 !important;
  background: url("../images/design/li_open.png") #fbfbfb no-repeat 95% 13px;
}
.navbar-left > li.active > a {
  padding-left: 12px;
  border-left: 3px solid #0061a1;
}
.navbar-left > li:first-child {
  border-top: none;
}
.navbar-left-sub,
.navbar-left-sub ul,
.navbar-left-sub li {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}
.navbar-left-sub,
.navbar-left-sub ul {
  margin-left: 12px;
}
.navbar-left-sub a {
  color: #1582d8 !important;
  padding: 5px 0 5px 2px !important;
}
.navbar-left-sub a span {
  float: right;
}
.navbar-left-sub .active a {
  font-weight: bold;
}
.navbar-left-sub .has-sub {
  background: url("../images/design/li_full.png") no-repeat 3px 9px;
}
.navbar-left-sub .has-sub > a {
  color: #676461 !important;
  padding-left: 15px !important;
}
.navbar-left-sub .has-sub.open {
  background: url("../images/design/li_full_open.png") no-repeat 0 10px;
}
.navbar-left-sub .has-sub.open > a {
  color: #444444 !important;
  font-weight: bold;
}
/* -----------------------------------------
   Subheader
----------------------------------------- */
.subheader {
  color: #8e8e8e;
  padding: 15px 0;
  margin-bottom: 30px;
  background-color: #f1f1f1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  -khtml-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#8e8e8e);
  display: none;
  visibility: hidden;
}
.subheader-right {
  padding-top: 7px;
}
/* -----------------------------------------
   Container
----------------------------------------- */
.container-fluid > .container {
  padding: 0;
}
.container-gray {
  background-color: #f1f1f1;
}
.container-white {
  background-color: #ffffff;
}
.panel-container {
  margin-bottom: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
  -khtml-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#8e8e8e);
}
/* -----------------------------------------
   Breadcrumbs
----------------------------------------- */
.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 15px 0;
}
.breadcrumbs li {
  color: #676461;
  float: left;
}
.breadcrumbs li::after {
  content: "→";
  padding: 0 8px;
}
.breadcrumbs li:last-child::after {
  content: "";
}
.breadcrumbs a:visited,
.breadcrumbs a:focus {
  color: #1582d8;
}
/* -----------------------------------------
   Content
----------------------------------------- */
.panel-content {
  padding: 0 15px 15px;
  overflow: hidden;
}
/* -----------------------------------------
   Offer List
----------------------------------------- */
.offer-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 60px;
  border-top: 1px solid #a9a9a9;
}
.offer-list li {
  padding: 15px 0;
  border-bottom: 1px solid #dcdbd8;
}
.offer-list h1 span {
  color: #a9a9a9;
}
.offer-list h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin: 0 0 3px;
}
.offer-list h2 a {
  font-weight: bold;
}
/* -----------------------------------------
   Sidebars
----------------------------------------- */
.sidebar-left {
  padding: 15px;
  background-color: #f1f1f1;
}
.detail .sidebar-left {
  padding: 0;
}
.sidebar-left li {
  margin-bottom: 5px;
}
.sidebar-left .panel {
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #dcdbd8;
}
.sidebar-left .panel-heading {
  padding: 0;
}
.sidebar-left .panel-heading a {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #1582d8;
  padding: 10px 15px;
  display: block;
}
.sidebar-left .panel-group {
  margin-bottom: 0;
}
.sidebar-left .sidebar-title {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  margin: 20px 0 5px;
}
.sidebar-left .sidebar-title:first-child {
  margin-top: 0;
}
.sidebar-left .sidebar-criteria {
  position: relative;
  overflow: auto;
}
.sidebar-left .sidebar-criteria::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 20px;
  display: block;
  background-color: #dcdbd8;
}
.sidebar-left .sidebar-criteria li::before {
  content: "";
  width: 10px;
  height: 15px;
  background: url("../images/icons/ico_cross.png") no-repeat 0 4px;
  float: right;
}
.sidebar-left .sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-left .sidebar-list a {
  display: block;
}
.sidebar-left .sidebar-list a.more {
  display: inline;
}
.sidebar-left .sidebar-list a:visited,
.sidebar-left .sidebar-list a:focus {
  color: #1582d8;
}
.sidebar-left .sidebar-list span {
  color: #a9a9a9;
  float: right;
}
.sidebar-left .sidebar-doubleform label {
  color: #a9a9a9;
  font-weight: normal;
}
.sidebar-left .sidebar-doubleform input {
  width: 73%;
  padding: 5px;
  margin: 0 0 5px 5px;
  display: inline;
}
.sidebar-right .sidebar-item {
  padding: 15px 0;
}
.sidebar-right .sidebar-item:first-child {
  padding-top: 0;
}
.sidebar-right .sidebar-white {
  background-color: #ffffff;
}
.sidebar-right .sidebar-title {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdbd8;
}
.sidebar-right .sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-right .sidebar-list li {
  margin-bottom: 8px;
}
.sidebar-right .sidebar-list a {
  font-weight: bold;
}
/* -----------------------------------------
   Homepage
----------------------------------------- */
.hp-search {
  padding: 70px 0 60px;
}
.hp-search-title {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  line-height: 140%;
  margin-bottom: 15px;
}
.hp-search a {
  color: #ffffff;
}
.hp-search .advanced-search {
  margin-top: 60px;
}
.hp-search .advanced-search label {
  color: #ffffff;
  text-align: left !important;
}
h2 {
  color: #676461;
  font-size: 21px;
  font-weight: normal;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  margin: 30px 0 20px;
}
.offer-price {
  color: #8e8e8e;
  font-size: 17px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-top: 5px;
}
.logo-list img {
  margin-bottom: 30px;
}
/* -----------------------------------------
   Detail
----------------------------------------- */
.detail-header {
  padding: 15px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #dcdbd8;
  overflow: hidden;
}
.detail-header .profile-title {
  color: #444444;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 110%;
  margin: 0 0 5px;
}
.detail-header .profile-place {
  color: #a9a9a9;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 17px;
}
.detail-header .profile-logo {
  margin-top: 15px;
}
.detail-header .profile-logo img {
  width: 120px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #dcdbd8;
}
.detail h1 {
  font-size: 20px;
  line-height: 120%;
  margin-top: 15px;
}
.detail-title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
.detail-subtitle {
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}
.detail-divider {
  height: 1px;
  margin: 30px 0;
  background-color: #dcdbd8;
}
.detail-desc-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 15px 0;
}
.detail-desc-list li {
  margin: 5px 0;
}
/* -----------------------------------------
   Search
----------------------------------------- */
.complex-search {
  position: relative;
}
.complex-search .btn-group {
  position: absolute;
  top: 0;
  right: 0;
}
.complex-search .btn-group button {
  font-size: 17px;
  height: 46px;
  box-shadow: none;
}
.complex-search .btn-group .icon {
  width: 24px;
  height: 24px;
}
.complex-search .btn-group .icon,
.complex-search .btn-group .icon * {
  fill: #000;
}
.complex-search .btn-search {
  color: #444444;
  font-weight: bold;
  background-color: #bec0c0;
}
.complex-search .btn-search:hover {
  background-color: #c6c8c8 !important;
}
.complex-search .btn-search .icon,
.complex-search .btn-search .icon * {
  fill: #fff;
}
.homepage .complex-search {
  border: 10px solid #1d343c;
  margin: 0 -10px 7.5px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.homepage .complex-search .btn-search {
  color: #ffffff;
  background-color: #00a15b;
}
.homepage .complex-search .btn-search:hover {
  background-color: #00b064 !important;
}
