@import "development_mixins.less";


/* -----------------------------------------
   MAIN STYLES
----------------------------------------- */

html {
	font-size: 62.5%;
}

body {

}

html, body {
	font-family: @primary-font;
    line-height: 140%;
	background-color: #e4e4e4;
}

body, div, dl, dt, dd, ul, ol, li, pre, form, p, blockquote, th, td {
	font-size: @font-size-base;
}


h1, h2, h3, h4, h5, h6 {
	font-family: @header-font;
	font-weight: bold;
	line-height: 1.1;
	color: inherit;

	&.normal {
		font-weight: normal;
	}
}

h1, h2, h3 {
	margin-top: @space-base*2;
	margin-bottom: @space-base;
}
h4, h5, h6 {
	margin-top: @space-base;
	margin-bottom: @space-base;
}

h1 {
	font-size: @font-size-h1;
}

h2 {
	font-size: @font-size-h2;
}

h3 {
	font-size: @font-size-h3;
}

h4 {
	font-size: @font-size-h4;
}


a {
	color: @link-color;
	font-weight: normal;
	text-decoration: none;

	&:hover {
		color: darken(@link-color, 5%);
		text-decoration: underline;
	}

	&:visited, &:focus {
		color: lighten(@link-color, 15%);
	}

}

img {
	max-width: 100%;
	height: auto;
}


ul, ol {
	overflow: hidden;
	padding-left: 30px;

	&.reset, &.reset li {
		.list-reset();
	}
}



.container {
	.relative();
}





/* -----------------------------------------
   Buttons
----------------------------------------- */
.btn {
	font-size: @font-size-base;
	.border-radius(3px);


	&-primary {
		color: @white;
		background-color: @primary-color;
		border: 1px solid darken(@primary-color, 5%);

		&:hover {
			color: #fff;
			background-color:  lighten(@primary-color, 3%) !important;
			border: 1px solid darken(@primary-color, 5%);

		}

		&:active, &.active, &:focus, &:visited {
			background: @primary-color;
		    border: 1px solid darken(@primary-color, 8%) !important;
		  	.inner-shadow-white();
		}

		&:visited {
			color: @white;
		}

	 	// Button with icon
		svg.icon {
			fill: @white;
		}
	}
}




/* -----------------------------------------
	Carousel
----------------------------------------- */
.carousel {
	padding-bottom: 30px;

	.carousel-indicators {
		bottom: -15px;

		li {
			width: 12px;
			height: 12px;
			margin: 0 4px;
			border-color: @gray-light;
			border-width: 2px;

			&.active {
				background-color: @gray-light;
			}
		}

		&.black-indicators {
			li {
				border-color: @dark;

				&.active {
					background-color: @dark;
				}
			}
		}
	}

	&-company-presentation {
		.item {
			padding: 10px;
			background-color: @white;

			.company-image {
				margin: 10px -10px;
			}
		}
	}

	&.logo-images {
		.item .row:first-child {
			margin-bottom: @space-base*2;
		}
	}
}




/* -----------------------------------------
   Lists
----------------------------------------- */
.list-title {
	font-size: 17px;
	font-family: @header-font;
	margin: 0 0 10px;
}

.list-arrow {
	.list-reset();

	li {
		padding-left: 15px;
		background: url("../images/design/li.png") no-repeat 0 3px;
	}
}

.list-line-spaces {
	li {
		padding-bottom: 10px !important;
	}
}



/* -----------------------------------------
   Header - navbar
----------------------------------------- */
.navbar {
	height: auto;
	margin: 0;
	background-color: @blue;
	overflow: hidden;
	.border-radius(0px);

	&-collapse {
		padding: 0;
	}

	a {
		color: lighten(@primary-color, 60%);
		font-size: 17px;
		padding: 10px 20px  !important;

		&:hover {
			text-decoration: underline !important;
			background: none !important;
		}
	}

	&-brand {
		height: auto;
		padding: 10px 15px
	}

	&-nav {
		margin: 8px auto 0;
		float: none;

		li {
			float: none;
			border-bottom: 1px solid lighten(@primary-color, 8%);

			&:last-child {
				border: none;
			}
		}
	}

	&-right {
		margin: 12px 0 0;

		a {
			font-size: @font-size-base;
		}

		.btn {
			color: @primary-color;
			padding: 5px 15px !important;
			background-color: @white;
			box-shadow: none;

			&:hover {
				background-color:  darken(@white, 7%) !important;
			}
		}
	}
}



/* -----------------------------------------
   Subheader
----------------------------------------- */
.subheader {
	color: @gray-dark;
	padding: @space-base 0;
	background-color: #eaeaea;

	&-right {
		padding-top: 7px;
	}
}





/* -----------------------------------------
   Container
----------------------------------------- */
.container {
	&-gray {
		background-color: @gray-lighter;
	}
}



/* -----------------------------------------
   Breadcrumbs
----------------------------------------- */
.breadcrumbs {
	.list-reset();
	margin: @space-base 0;

	li {
		color: @gray-darker;
		float: left;

		&::after {
			content: "→";
			padding: 0 8px;
		}

		&:last-child {
			&::after {
				content: "";
			}
		}
	}
}



/* -----------------------------------------
   Content
----------------------------------------- */
.panel-content {
	background-color: @white;
}





/* -----------------------------------------
   Sidebars
----------------------------------------- */





/* -----------------------------------------
   Homepage
----------------------------------------- */

.hp-search {
	padding: 70px 0 60px;;

	&-title {
		color: @white;
		font-size: @font-size-h4;
		font-family: @header-font;
		line-height: 140%;
		margin-bottom: @space-base;
	}

	a {
		color: @white;
	}
}

h2 {
	color: @gray-darker;
	font-size: @font-size-h2;
	font-weight: normal;
	font-family: @primary-font;
	margin: 30px 0 20px;
}


.premium-course-price {
	color: @gray-dark;
	font-size: @font-size-h2;
	font-family: @header-font;
	font-weight: bold;
	padding-top: 10px;
}

.logo-list {
	img {
		margin-bottom: @space-base*2;
	}
}



/* -----------------------------------------
   Search
----------------------------------------- */
.complex-search {
	position: relative;

	.btn-group {
		position: absolute;
		top: 0;
		right: 0;

		button {
			font-size: @font-size-large;
			height: 46px;
			box-shadow: none;
		}
	}

	.btn-search {
		color: @white;
		font-weight: bold;
		background-color: @green;

		&:hover {
			background-color:  lighten(@green, 3%) !important;
		}
	}


	.homepage & {
		border: 10px solid #1d343c;
		margin: 0 -10px @space-base/2;
		.border-radius(15px);
	}
}
