@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,latin-ext);
/* -----------------------------------------
   Variables
----------------------------------------- */
/* -----------------------------------------
   Fonts
----------------------------------------- */
/* -----------------------------------------
   Colors
----------------------------------------- */
/* -----------------------------------------
   Typography
----------------------------------------- */
/* -----------------------------------------
   Spaces
----------------------------------------- */
/* -----------------------------------------
   Classes
----------------------------------------- */
.font-size-large {
  font-size: 17px;
}
.font-size-extra-large {
  font-size: 28px;
}
.color-gray-dark {
  color: #8e8e8e;
}
.bold {
  font-weight: bold;
}
.relative {
  position: relative;
}
.no-overflow {
  overflow: hidden;
}
.inline-block {
  display: inline-block;
}
.clear {
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-space {
  padding: 0;
  margin: 0;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
.space-on-top {
  padding-top: 15px;
}
.space-on-bottom {
  padding-bottom: 15px;
}
.space-on-left {
  padding-left: 15px;
}
.space-on-right {
  padding-right: 15px;
}
.no-space-on-top {
  padding-top: 0;
}
.no-space-on-bottom {
  padding-bottom: 0;
}
.no-space-on-left {
  padding-left: 0;
}
.no-space-on-right {
  padding-right: 0;
}
.margin-on-top {
  margin-top: 15px;
}
.double-margin-on-top {
  margin-top: 30px;
}
.margin-on-bottom {
  margin-bottom: 15px;
}
.double-margin-on-bottom {
  margin-bottom: 30px;
}
.margin-on-left {
  margin-left: 15px;
}
.margin-on-right {
  margin-right: 15px;
}
/* -----------------------------------------
   Mixins
----------------------------------------- */
/* GRADIENTS */
/* -----------------------------------------
   MAIN STYLES
----------------------------------------- */
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 140%;
  background-color: #e4e4e4;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}
h1.normal,
h2.normal,
h3.normal,
h4.normal,
h5.normal,
h6.normal {
  font-weight: normal;
}
h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
a {
  color: #1582d8;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: #1374c1;
  text-decoration: underline;
}
a:visited,
a:focus {
  color: #4ca6ee;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  overflow: hidden;
  padding-left: 30px;
}
ul.reset,
ol.reset,
ul.reset li,
ol.reset li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  position: relative;
}
/* -----------------------------------------
   Buttons
----------------------------------------- */
.btn {
  font-size: 14px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-primary {
  color: #ffffff;
  background-color: #1582d8;
  border: 1px solid #1374c1;
}
.btn-primary:hover {
  color: #fff;
  background-color: #168ae6 !important;
  border: 1px solid #1374c1;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary:visited {
  background: #1582d8;
  border: 1px solid #116cb3 !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  -khtml-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
}
.btn-primary:visited {
  color: #ffffff;
}
.btn-primary svg.icon {
  fill: #ffffff;
}
/* -----------------------------------------
	Carousel
----------------------------------------- */
.carousel {
  padding-bottom: 30px;
}
.carousel .carousel-indicators {
  bottom: -15px;
}
.carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-color: #d8dbdc;
  border-width: 2px;
}
.carousel .carousel-indicators li.active {
  background-color: #d8dbdc;
}
.carousel .carousel-indicators.black-indicators li {
  border-color: #2a2e34;
}
.carousel .carousel-indicators.black-indicators li.active {
  background-color: #2a2e34;
}
.carousel-company-presentation .item {
  padding: 10px;
  background-color: #ffffff;
}
.carousel-company-presentation .item .company-image {
  margin: 10px -10px;
}
.carousel.logo-images .item .row:first-child {
  margin-bottom: 30px;
}
/* -----------------------------------------
   Lists
----------------------------------------- */
.list-title {
  font-size: 17px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}
.list-arrow {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-arrow li {
  padding-left: 15px;
  background: url("../images/design/li.png") no-repeat 0 3px;
}
.list-line-spaces li {
  padding-bottom: 10px !important;
}
/* -----------------------------------------
   Header - navbar
----------------------------------------- */
.navbar {
  height: auto;
  margin: 0;
  background-color: #0061a1;
  overflow: hidden;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.navbar-collapse {
  padding: 0;
}
.navbar a {
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px  !important;
}
.navbar a:hover {
  text-decoration: underline !important;
  background: none !important;
}
.navbar-brand {
  height: auto;
  padding: 10px 15px;
}
.navbar-nav {
  margin: 8px auto 0;
  float: none;
}
.navbar-nav li {
  float: none;
  border-bottom: 1px solid #2b96ea;
}
.navbar-nav li:last-child {
  border: none;
}
.navbar-right {
  margin: 12px 0 0;
}
.navbar-right a {
  font-size: 14px;
}
.navbar-right .btn {
  color: #1582d8;
  padding: 5px 15px !important;
  background-color: #ffffff;
  box-shadow: none;
}
.navbar-right .btn:hover {
  background-color: #ededed !important;
}
/* -----------------------------------------
   Subheader
----------------------------------------- */
.subheader {
  color: #8e8e8e;
  padding: 15px 0;
  background-color: #eaeaea;
}
.subheader-right {
  padding-top: 7px;
}
/* -----------------------------------------
   Container
----------------------------------------- */
.container-gray {
  background-color: #f1f1f1;
}
/* -----------------------------------------
   Breadcrumbs
----------------------------------------- */
.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 15px 0;
}
.breadcrumbs li {
  color: #73787d;
  float: left;
}
.breadcrumbs li::after {
  content: "→";
  padding: 0 8px;
}
.breadcrumbs li:last-child::after {
  content: "";
}
/* -----------------------------------------
   Content
----------------------------------------- */
.panel-content {
  background-color: #ffffff;
}
/* -----------------------------------------
   Sidebars
----------------------------------------- */
.sidebar-left {
  padding: 15px;
  background-color: #f1f1f1;
  border-right: 1px solid #d8dbdc;
}
.sidebar-left li {
  margin-bottom: 5px;
}
.sidebar-left .sidebar-title {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  margin: 20px 0 5px;
}
.sidebar-left .sidebar-title:first-child {
  margin-top: 0;
}
.sidebar-left .sidebar-criteria {
  padding-bottom: 20px;
  position: relative;
  overflow: auto;
}
.sidebar-left .sidebar-criteria::after {
  content: "";
  border-bottom: 1px solid #d8dbdc;
  position: absolute;
  left: -15px;
  right: -15px;
  bottom: 0;
}
.sidebar-left .sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-left .sidebar-list a {
  display: block;
}
.sidebar-left .sidebar-list a.more {
  display: inline;
}
.sidebar-left .sidebar-list span {
  color: #a9a9a9;
  float: right;
}
/* -----------------------------------------
   Homepage
----------------------------------------- */
.hp-search {
  padding: 70px 0 60px;
}
.hp-search-title {
  color: #ffffff;
  font-size: 21px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  line-height: 140%;
  margin-bottom: 15px;
}
.hp-search a {
  color: #ffffff;
}
h2 {
  color: #73787d;
  font-size: 28px;
  font-weight: normal;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 30px 0 20px;
}
.premium-course-price {
  color: #8e8e8e;
  font-size: 28px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-top: 10px;
}
.logo-list img {
  margin-bottom: 30px;
}
/* -----------------------------------------
   Search
----------------------------------------- */
.complex-search {
  position: relative;
}
.complex-search .btn-group {
  position: absolute;
  top: 0;
  right: 0;
}
.complex-search .btn-group button {
  font-size: 17px;
  height: 46px;
  box-shadow: none;
}
.complex-search .btn-search {
  color: #ffffff;
  font-weight: bold;
  background-color: #00a15b;
}
.complex-search .btn-search:hover {
  background-color: #00b064 !important;
}
.homepage .complex-search {
  border: 10px solid #1d343c;
  margin: 0 -10px 7.5px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
